<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMTL | Edit User </title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="create-user.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <a href="manager-homepage"><img src="RMTL-logo.png"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="manager-homepage">Home</a></li>
                    <li><a href="manager-booking">Bookings</a></li>
                    <li><a href="manager-report-issues">Report Issues</a></li>
                    <li><a href="manager-profile">Profile</a></li>
                    <li><a href="manager-reports">Reports</a></li>
                    <li><a href="manager-projects">Projects</a></li>
                    <li><a class="current" href="manager-users">Users</a></li>
                    <li><a href="manager-email">Emails</a></li>
                    <li><a href="manager-logs">Logs</a></li>
                    <li><a href="manager-equipment">Equipment</a></li>
                    <li>
                        <a>
                            <form action="logout" method="get">
                                <button type="submit" class="logout-btn">Logout</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>     
    </header>
    <br>
    <div class="container">
        <h1>Edit User</h1> 

        <form action="edit-user" method="post">
            <label for="firstname">First name</label>
            <input type="text" class="text-input" name="firstname" placeholder="Enter First name" maxlength="50" value=<%= user[0].firstName %> required> 
        
            <label for="lastname">Last name</label> 
            <input type="text" class="text-input" name="lastname" placeholder="Enter Last name" maxlength="50" value=<%= user[0].lastName %> required>
        
            <label for="email"> Email </label>
            <input type="text" class="text-input" name="email" placeholder="Enter Email" maxlength="50" value=<%= user[0].email %> required>
        
            <label for="username"> Username </label>
            <input type="text" class="text-input" name="username" placeholder="Enter username" maxlength="50" value=<%= user[0].username %> readonly>
        
            <label for="password">Temporary Password</label> 
            <input type="text" class="text-input" name="password" placeholder="Enter temporary password" maxlength="50">
        
            <label for="training"> Training </label>    
            <select id="training" name="training" class="selectBox" multiple required>
                <% for (var i = 0; i < training.length; i++) { %>
                    <% for (var j = 0; j < userTraining.length; j++) { %>
                        <% if (userTraining[j].groupName == training[i].groupName) { %>
                            <option selected="selected"><%= userTraining[j].groupName %></option>
                        <% } %>
                    <% } %>
                    <% if (!(JSON.stringify(userTraining).includes(training[i].groupName))) { %>
                        <option><%= training[i].groupName %></option>
                    <% } %>
                <% } %>
            </select>   
            
            <label for="projects"> Projects </label>
            <select id="projects" name="projects" class="selectBox" multiple required>
                <% for (var i = 0; i < projects.length; i++) { %> 
                    <% for (var j = 0; j < userProjects.length; j++) { %>
                        <% if (userProjects[j].projectName == projects[i].projectName) { %>
                            <option selected="selected"><%= userProjects[j].projectName %></option>
                        <% } %>
                    <% } %>
                    <% if (!(JSON.stringify(userProjects).includes(projects[i].projectName))) { %>
                        <option><%= projects[i].projectName %></option>
                    <% } %>
                <% } %>
            </select>
            <button type="submit" class="button-1" value="submit"> Submit </button>
    </div>  
</body>
</html>