<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMTL | Equipment </title>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="manager-equipment.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div id="logo">
                <a href="manager-homepage"><img src="RMTL-logo.png"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="manager-homepage">Home</a></li>
                    <li><a href="manager-booking">Bookings</a></li>
                    <li><a href="manager-report-issues">Report Issues</a></li>
                    <li><a href="manager-profile">Profile</a></li>
                    <li><a href="manager-reports">Reports</a></li>
                    <li><a href="manager-projects">Projects</a></li>
                    <li><a href="manager-users">Users</a></li>
                    <li><a href="manager-email">Emails</a></li>
                    <li><a href="manager-logs">Logs</a></li>
                    <li><a class="current" href="manager-equipment">Equipment</a></li>
                    <li>
                        <a>
                            <form action="logout" method="get">
                                <button type="submit" class="logout-btn">Logout</button>
                            </form>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>     
    </header>
    <br>
    <div class="container">
        <div class="row">
            <div class="column1">
                <h2> Equipment </h2> 
                <div class="button-container">
                    <form action="create-equipment" method="get">
                        <button type="submit" class="button-1">Create Equipment</button>
                    </form>
                    <button type="submit" class="button-1" name="action" value="edit" form="equipmentTable"> Edit Equipment </button>
                    <button type="submit" class="button-1" name="action" value="delete" form="equipmentTable"> Delete Equipment </button>
                    <br>
                    <button type="submit" class="button-1" name="action" value="create" form="equipmentTable"> Create Primetime </button>
                    <button type="submit" class="button-1" name="action" value="edit" form="primetimeTable"> Edit Primetime </button>
                    <button type="submit" class="button-1" name="action" value="delete" form="primetimeTable"> Delete Primetime </button>
                </div> 
            </div>
            <div class="column2">
                <form action="modify-equipment" method="post" id="equipmentTable">
                    <b>Equipment</b>
                    <table>
                        <colgroup>
                            <col style="width:0.5%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:2%">
                            <col style="width:2%">
                            <col style="width:2%">
                            <col style="width:2%">
                            <col style="width:2%">
                        </colgroup>
                        <tr>
                            <col width="50">
                            <col width="250">
                            <col width="250"> 
                            <col width="250">
                            <th>Select</th> 
                            <th>Equipment</th>
                            <th>Location</th> 
                            <th>Usage Modes</th>
                            <th>Sensitive Mode</th>
                            <th>Consecutive Bookings</th>
                            <th>Maximum Bookings per Week</th>
                            <th>Maximum Time per Booking (in Hours)</th>
                            <th>Primetime</th>
                        </tr>
                        <% for (var i = 0; i < equipment.length; i++) { %> 
                            <tr>
                                <td><input type="checkbox" name="select" value=<%- JSON.stringify(equipment[i].equipmentName) %>></td>
                                <td><%= equipment[i].equipmentName %></td>
                                <td><%= equipment[i].location %></td>
                                <td>
                                    <select>
                                        <% for (var j = 0; j < usageMode.length; j++) { %>
                                            <% if (usageMode[j].equipmentName == equipment[i].equipmentName) { %>
                                                <option><%= usageMode[j].modes %></option>

                                            <% } %>
                                        <% } %>
                                    </select>
                                </td>
                                <td><%= equipment[i].enableSensitive %></td>
                                <td><%= equipment[i].allowConsecutive %></td>
                                <td><%= equipment[i].maxBookingsWeekly %></td>
                                <td><%= equipment[i].maxBookingTime %></td>
                                <td><%= equipment[i].enablePrimetime %></td> 
                            </tr>
                        <% } %>
                    </table>
                </form>
                <br>
                <br>
                <form action="modify-primetime" method="post" id="primetimeTable">
                    <b>Primetime Restrictions</b>
                    <table>
                        <colgroup>
                            <col style="width:0.5%">
                            <col style="width:10%">
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:2%">
                            <col style="width:2%">
                            <col style="width:2%">
                            <col style="width:2%">
                        </colgroup>
                        <tr>
                            <col width="50">
                            <col width="250">
                            <th>Select</th>
                            <th>Equipment</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Enforce Saturday</th>
                            <th>Enforce Sunday</th>
                            <th>Consecutive Bookings</th>
                            <th>Maximum Time per Booking (in Hours)</th>
                        </tr>
                        <% for (var k = 0; k < primetime.length; k++) { %>
                            <tr>
                                <td><input type="checkbox" name="select" value=<%- JSON.stringify(primetime[k].equipmentName) %></td>
                                <td><%= primetime[k].equipmentName %></td>
                                <td><%= primetime[k].startTime %></td>
                                <td><%= primetime[k].endTime %></td>
                                <td><%= primetime[k].enforceSat %></td>
                                <td><%= primetime[k].enforceSun %></td>
                                <td><%= primetime[k].allowConsecutive %></td>
                                <td><%= primetime[k].maxBookingTime %></td>
                            </tr>
                        <% } %>
                    </table>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>